@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

body,
html {
	font-family: 'Roboto Slab', serif;
}

.calendar {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 1px 0 #cecece, 0 3px 8px #cecece;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
}

.calendar__days {
	width: 250px;
	height: 240px;
}

.day-of-the-week {
	text-align: center;
	padding: 5px;
	font-weight: 400;
	width: 30px;
}

.day-of-the-month {
	text-align: center;
	padding: 5px;
	cursor: pointer;
	transition: all .1s ease-in-out;
	border-radius: 2px;
}

.day-of-the-month:hover {
	color: #ffffff;
	background: #dea291;
}


.day-of-the-month--weekend {
	background: #93e0d6;
	color: #ffffff;
}

.day-of-the-month--today {
	background: #de5a4c;
	color: #ffffff;
}

.calendar__year,
.calendar__month {
	display: block;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

input[type="text"] {
	border: none;
	text-align: center;
	padding: 0;
	display: inline-block;
	padding: 5px;
	outline: none;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
}

.calendar__prev,
.calendar__next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 20px;
	color: lightblue;
	transition: all .3s ease-in-out;
}

.calendar__prev:hover,
.calendar__next:hover {
	color: lightcoral;
}

.calendar__prev {
	left: 10px;
}

.calendar__next {
	left: auto;
	right: 10px;
}
